LogLevel="debug"
Port="8082"
Env="pre"
Version=""
MaxSearchResults=50
DataLoadIntervalSeconds=30
AnalyticsServiceEndpoint="https://analytics.universalconnectproject.org/api/"
AuthServiceEndpoint="https://login.universalconnectproject.org/api/"
DataBaseUrl="http://static.universalconnectproject.org.s3.us-west-2.amazonaws.com/search/"
S3Bucket="dev.universalconnectproject.org" # leave blank to use local server hardcoded preference
LocalDefaultProvider="sophtron" #default provider config when S3Bucket is not used.
AwsRegion="us-west-2"