
name: E2E Tests

on: pull_request

jobs:
  setup-env:
    name: 'Load ENV Vars'
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit

  e2e-tests:
    runs-on: ubuntu-latest
    needs: [setup-env]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - run: npm ci

      - name: 'Create env file'
        run: |
          touch .env
          
          # Vars
          echo -e "${{ needs.setup-env.outputs.env_vars }}" >> .env
          echo VERSION="" >> .env

          cat .env

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
          wait-on: "http://localhost:8082/ping"
